In [506]:
import pandas as pd

In [507]:
survey=pd.read_csv(r"C:\Users\Sai Sailesh\Downloads\file (4).csv")
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [508]:
survey.shape

(6867, 14)

In [509]:
survey.duplicated().sum()

0

In [510]:
survey.isnull().sum()

response_id         0
collection_date     0
urban_rural         0
education           0
income              0
Vote_Now            0
Past_Vote           0
CM_satisfaction     0
MLA_satisfaction    0
age                 0
gender              0
assembly_no         0
category            0
weight              0
dtype: int64

In [511]:
survey.describe()

       response_id  assembly_no       weight
count  6867.000000  6867.000000  6867.000000
mean   3434.000000   130.843017     0.995800
std    1982.476482    66.420060     2.074578
min       1.000000     1.000000     0.001089
25%    1717.500000    79.000000     0.137896
50%    3434.000000   135.000000     0.369789
75%    5150.500000   184.000000     0.956474
max    6867.000000   243.000000    51.075631

# How many samples were collected on each day

In [512]:
survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [513]:
survey['collection_date'].unique()

array(['5-24-2017', '5-25-2017', '5-26-2017', '5-27-2017', '5-28-2017',
       '5-29-2017', '5-30-2017', '5-31-2017', '6-1-2017'], dtype=object)

In [514]:
survey['collection_date'].nunique()

9

In [515]:
survey['collection_date'].value_counts()

collection_date
5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: count, dtype: int64

In [516]:
survey['collection_date'].value_counts(ascending=True)

collection_date
5-31-2017     557
5-30-2017     582
5-26-2017     598
6-1-2017      607
5-29-2017     620
5-27-2017     665
5-28-2017     761
5-25-2017     998
5-24-2017    1479
Name: count, dtype: int64

# What is thee proportion of total respondent were aged less than 45

In [517]:
data.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,18-25,Male,191,Gen,0.673762
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505

In [518]:
survey['age'].dtype

dtype('O')

In [519]:
survey['age'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '24ko', '56', '50', '55', '54', '62', '60', '59',
       '47', '61', '52', '66', '57', '67', '65', '71', '63', '64', '68',
       '69', '99', '72', '75', '76'], dtype=object)

In [520]:
survey['age'].replace({'24ko':'24'},inplace=True)

C:\Users\Sai Sailesh\AppData\Local\Temp\ipykernel_43096\2885589314.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  survey['age'].replace({'24ko':'24'},inplace=True)

In [521]:
survey['age'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '56', '50', '55', '54', '62', '60', '59', '47',
       '61', '52', '66', '57', '67', '65', '71', '63', '64', '68', '69',
       '99', '72', '75', '76'], dtype=object)

In [522]:
survey['age']=survey['age'].astype(int)

In [523]:
survey['age'].dtype

dtype('int32')

In [524]:
survey[survey['age']<45]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [525]:
6399/6867 * 100

93.18479685452162

#  Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after the column creation.

In [526]:
survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [527]:
data=survey.copy()
data.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [528]:
data.insert(10,'age_group',survey['age'])
data.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505

In [529]:
data1=data[(data['age_group']>=18) & (data['age_group']<=25)]
data1.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,25,Male,191,Gen,0.673762
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,22,Male,176,BC,0.333505

In [530]:
data1['age_group'].unique()

array([25, 22, 23, 24, 19, 21, 18, 20])

In [531]:
data1.loc[:,'age_group']="18-25"

C:\Users\Sai Sailesh\AppData\Local\Temp\ipykernel_43096\2998220225.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '18-25' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  data1.loc[:,'age_group']="18-25"

In [532]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,18-25,Male,191,Gen,0.673762
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6860,6861,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,25,18-25,Male,145,BC,0.528469
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,166,Gen,0.080137
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,18-25,Male,166,Gen,0.036329
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,18-25,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,18-25,Male,243,Gen,0.080137

In [533]:
data2=data[(data['age_group']>=25) & (data['age_group']<=40)]
data2.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,34,Male,189,BC,0.603419

In [534]:
data2['age_group'].unique()

array([26, 34, 25, 36, 38, 29, 30, 39, 37, 32, 27, 28, 35, 31, 40, 33])

In [535]:
data2.loc[:,'age_group']="25-40"
data2

C:\Users\Sai Sailesh\AppData\Local\Temp\ipykernel_43096\2494463076.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '25-40' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  data2.loc[:,'age_group']="25-40"

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,25-40,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,25-40,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,25-40,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,25-40,Male,194,Gen,1.101298
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,25-40,Male,178,Gen,0.382603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6855,6856,6-1-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",NOTA,JD(U),Fully Dissatisfied,Fully Dissatisfied,30,25-40,Male,241,EBC,0.174156
6860,6861,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,25,25-40,Male,145,BC,0.528469
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,25-40,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,25-40,Male,169,BC,0.252780
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,25-40,Male,241,Gen,1.797518

In [536]:
data3=data[(data['age_group']>=40) & (data['age_group']<=55)]
data3.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,42,Male,183,BC,2.824391
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,51,Male,183,SC,20.558759

In [537]:
data3['age_group'].unique()

array([42, 51, 44, 53, 48, 45, 40, 49, 46, 43, 41, 50, 55, 54, 47, 52])

In [538]:
data3.loc[:,'age_group']="40-55"
data3

C:\Users\Sai Sailesh\AppData\Local\Temp\ipykernel_43096\3423879414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '40-55' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  data3.loc[:,'age_group']="40-55"

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,40-55,Male,183,BC,2.824391
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,40-55,Male,183,SC,20.558759
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,40-55,Male,205,BC,1.337935
30,31,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",NOTA,NOTA,Fully Dissatisfied,Fully Dissatisfied,44,40-55,Male,183,Gen,1.344773
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,40-55,Male,188,Gen,1.936195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816,6817,6-1-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Satisfied,Fully Dissatisfied,40,40-55,Male,167,Gen,0.183806
6819,6820,6-1-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",Undecided,BJP,Somewhat Satisfied,Fully Dissatisfied,40,40-55,Male,168,Gen,0.183806
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,40-55,Male,146,EBC,6.328899
6840,6841,6-1-2017,Rural,Graduate,"₹ 1,50,000 & above",NOTA,BJP,Fully Dissatisfied,Somewhat Satisfied,45,40-55,Male,241,BC,1.425852
6856,6857,6-1-2017,Rural,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,JD(U),Somewhat Satisfied,Somewhat Dissatisfied,45,40-55,Male,150,BC,2.112264

In [539]:
data4=data[(data['age_group']>=55)]
data4.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,74,Male,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,70,Male,183,BC,0.343147

In [540]:
data4['age_group'].unique()

array([74, 70, 58, 56, 55, 62, 60, 59, 61, 66, 57, 67, 65, 71, 63, 64, 68,
       69, 99, 72, 75, 76])

In [541]:
data4.loc[:,'age_group']="55+"
data4

C:\Users\Sai Sailesh\AppData\Local\Temp\ipykernel_43096\3506257091.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '55+' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  data4.loc[:,'age_group']="55+"

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,55+,Male,192,ST,1.805903
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,55+,Male,183,BC,0.343147
121,122,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",NOTA,Did not vote,Somewhat Satisfied,Fully Dissatisfied,58,55+,Male,187,Gen,2.092567
126,127,5-24-2017,Urban,Graduate,"₹ 80,000 - ₹ 1,50,000",NOTA,BJP,Fully Dissatisfied,Fully Dissatisfied,56,55+,Male,183,Gen,2.092567
183,184,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",JD(U),JD(U),Fully Satisfied,Fully Dissatisfied,55,55+,Male,175,BC,2.824391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6649,6650,5-30-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",Left Front,INC,Somewhat Dissatisfied,Somewhat Satisfied,55,55+,Male,146,Gen,3.090009
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,55+,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990

In [542]:
data=pd.concat([data1,data2,data3,data4])
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,18-25,Male,191,Gen,0.673762
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6649,6650,5-30-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",Left Front,INC,Somewhat Dissatisfied,Somewhat Satisfied,55,55+,Male,146,Gen,3.090009
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,55+,Male,168,Gen,1.535906
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990

In [543]:
data['age_group'].value_counts()

age_group
25-40    4021
18-25    2692
40-55     821
55+       128
Name: count, dtype: int64

# - How many samples were collected for each age-group? Which age-group had the most samples?

In [544]:
data['age_group'].value_counts()

age_group
25-40    4021
18-25    2692
40-55     821
55+       128
Name: count, dtype: int64

#  What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [545]:
survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [546]:
survey[(survey['Vote_Now']=='RJD') & (survey['Past_Vote']=='RJD')]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
9,10,5-24-2017,Urban,12th Pass,"₹ 20,000 - ₹ 30,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,26,Male,181,BC,0.713059
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,194,BC,0.769738
19,20,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,37,Male,200,BC,0.936383
21,22,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,29,Male,210,BC,0.713059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,6847,6-1-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,31,Male,151,BC,0.483757
6848,6849,6-1-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Can’t say,27,Male,143,BC,0.200389
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,Male,241,Gen,1.812926
6860,6861,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,25,Male,145,BC,0.528469
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780

In [547]:
proportion=811/6867*100
proportion

11.810106305519149

#  For each day of sample collection, determine the proportion of respondents who were fully satisfied with the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied, then our answer for that day would be 0.3.

In [548]:
survey.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [549]:
cm=survey[survey['CM_satisfaction']=='Fully Satisfied']
cm.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,Male,199,Gen,0.226477
17,18,5-24-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,39,Male,200,Gen,0.181242
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,Male,205,BC,1.337935

In [550]:
a=cm['collection_date'].value_counts()
a

collection_date
5-24-2017    146
5-25-2017     95
5-28-2017     92
6-1-2017      75
5-29-2017     73
5-30-2017     65
5-31-2017     62
5-26-2017     59
5-27-2017     54
Name: count, dtype: int64

In [551]:
b=survey['collection_date'].value_counts()
b

collection_date
5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: count, dtype: int64

In [552]:
proportion=a/b*100
proportion

collection_date
5-24-2017     9.871535
5-25-2017     9.519038
5-26-2017     9.866221
5-27-2017     8.120301
5-28-2017    12.089356
5-29-2017    11.774194
5-30-2017    11.168385
5-31-2017    11.131059
6-1-2017     12.355848
Name: count, dtype: float64

#  - In a similar fashion create a day-wise proportion of respondents that opted fully dissatisfied with their MLA. Create a line plot of the result with date on x-axis and proportions on the y-axis.

In [553]:
survey.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [554]:
mla=survey[survey['MLA_satisfaction']=='Fully Dissatisfied']
mla.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,Male,178,Gen,0.382603
6,7,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,34,Male,172,BC,0.521283
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,Male,181,Gen,0.226477

In [555]:
m=mla['collection_date'].value_counts()
m

collection_date
5-24-2017    887
5-25-2017    630
5-28-2017    462
5-27-2017    403
6-1-2017     385
5-30-2017    361
5-26-2017    353
5-29-2017    350
5-31-2017    321
Name: count, dtype: int64

In [556]:
n=survey['collection_date'].value_counts()
n

collection_date
5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: count, dtype: int64

In [557]:
proportion=m/n*100
proportion

collection_date
5-24-2017    59.972955
5-25-2017    63.126253
5-26-2017    59.030100
5-27-2017    60.601504
5-28-2017    60.709593
5-29-2017    56.451613
5-30-2017    62.027491
5-31-2017    57.630162
6-1-2017     63.426689
Name: count, dtype: float64

In [558]:
type(proportion)

pandas.core.series.Series

In [559]:
line=pd.DataFrame(proportion)
line

                     count
collection_date
5-24-2017        59.972955
5-25-2017        63.126253
5-26-2017        59.030100
5-27-2017        60.601504
5-28-2017        60.709593
5-29-2017        56.451613
5-30-2017        62.027491
5-31-2017        57.630162
6-1-2017         63.426689

In [560]:
type(line)

pandas.core.frame.DataFrame

# Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and cell values as the count of samples.
Answer - survey.pivot_table(index = 'Past_Vote', columns = 'Vote_Now', values = 'response_id', aggfunc = 'count')

In [565]:
survey.pivot_table(index='Past_Vote',columns='Vote_Now',aggfunc='count')

             CM_satisfaction                                              \
Vote_Now                 AAP AIMIM     BJP  BSP  HAM   INC JAP(L)  JD(U)
Past_Vote
BJP                      7.0   1.0  1630.0  3.0  5.0  42.0  101.0  110.0
BSP                      NaN   1.0     2.0  5.0  NaN   1.0    NaN    NaN
Did not vote             8.0   5.0   231.0  2.0  1.0  22.0   41.0   69.0
HAM                      2.0   NaN    25.0  NaN  1.0   NaN    3.0    2.0
INC                      NaN   6.0     6.0  NaN  NaN  57.0   10.0    9.0
JAP(L)                   NaN   NaN     4.0  NaN  NaN   NaN   35.0    NaN
JD(U)                    6.0  10.0   254.0  2.0  2.0  45.0   72.0  279.0
LJP                      NaN   NaN    76.0  1.0  NaN   4.0    3.0    6.0
Left Front               NaN   1.0     2.0  NaN  NaN   1.0    NaN    NaN
NOTA                     NaN   1.0    29.0  1.0  NaN   9.0    7.0    7.0
Others                   1.0   5.0    45.0  1.0  1.0   4.0    7.0    4.0
RJD                      3.0   7.0    46.0  NaN  1.0  31.0   31.0   39.0
RLSP                     NaN   NaN    17.0  NaN  NaN   NaN    3.0    NaN
VIP                      NaN   NaN     NaN  NaN  NaN   NaN    NaN    1.0

                               ... weight                                   \
Vote_Now       LJP Left Front  ...    LJP Left Front   NOTA Others Plurals
Past_Vote                      ...
BJP           44.0       13.0  ...   44.0       13.0  194.0   32.0    87.0
BSP            NaN        NaN  ...    NaN        NaN    NaN    NaN     NaN
Did not vote  10.0       16.0  ...   10.0       16.0   83.0   11.0    51.0
HAM            2.0        NaN  ...    2.0        NaN    4.0    NaN     NaN
INC            NaN        3.0  ...    NaN        3.0    6.0    3.0     3.0
JAP(L)         NaN        NaN  ...    NaN        NaN    NaN    1.0     NaN
JD(U)         29.0        9.0  ...   29.0        9.0   90.0   18.0    43.0
LJP            9.0        2.0  ...    9.0        2.0    3.0    NaN     2.0
Left Front     NaN       18.0  ...    NaN       18.0    1.0    1.0     NaN
NOTA           3.0        5.0  ...    3.0        5.0   46.0    7.0    11.0
Others         1.0        4.0  ...    1.0        4.0   10.0    6.0     8.0
RJD            4.0        9.0  ...    4.0        9.0   18.0    8.0    10.0
RLSP           NaN        NaN  ...    NaN        NaN    3.0    NaN     2.0
VIP            NaN        NaN  ...    NaN        NaN    NaN    NaN     NaN


Vote_Now        RJD  RJJP  RLSP Undecided   VIP
Past_Vote
BJP           370.0  88.0  24.0      62.0  10.0
BSP             NaN   NaN   NaN       NaN   NaN
Did not vote  195.0  20.0   3.0      31.0   5.0
HAM             6.0   4.0   NaN       1.0   NaN
INC           100.0   1.0   2.0       7.0   NaN
JAP(L)          2.0   NaN   NaN       NaN   NaN
JD(U)         435.0  13.0  25.0      36.0   6.0
LJP            17.0   1.0   NaN       1.0   NaN
Left Front      4.0   NaN   1.0       NaN   1.0
NOTA           27.0   5.0   4.0       5.0   NaN
Others         21.0   7.0   1.0       6.0   NaN
RJD           811.0   1.0  10.0      14.0   4.0
RLSP            8.0   2.0  12.0       1.0   1.0
VIP             NaN   NaN   NaN       NaN   1.0

[14 rows x 216 columns]

# Repeat the above question with the cell values as the sum of “weight”.

In [567]:
survey.pivot_table(index='Past_Vote',columns='Vote_Now',values='weight',aggfunc='sum')

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,4.807335,0.349996,1049.344112,0.452551,10.171283,50.055502,63.832368,68.029581,45.716215,7.537394,114.913686,8.790137,50.016163,250.948101,16.047570,18.715113,41.286954,18.691691
BSP,NaN,1.654731,5.174487,32.010277,NaN,2.298223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,8.865896,5.379527,114.203906,3.329611,2.497170,27.791290,26.359190,58.983458,11.801813,13.050113,44.725179,7.289933,25.319524,173.882525,4.349832,5.041587,22.015457,10.696552
HAM,0.312607,NaN,25.348884,NaN,1.648856,NaN,0.712161,1.006719,2.496424,NaN,0.928984,NaN,NaN,7.713008,1.903148,NaN,0.039564,NaN
INC,NaN,11.105958,1.642875,NaN,NaN,161.742302,18.942597,11.077323,NaN,6.268726,5.999014,1.552038,1.588527,195.020050,5.340403,1.140299,8.558475,NaN
JAP(L),NaN,NaN,6.512846,NaN,NaN,NaN,57.876224,NaN,NaN,NaN,NaN,3.195682,NaN,2.164824,NaN,NaN,NaN,NaN
JD(U),12.457216,29.198610,156.243100,11.005903,2.639574,91.806262,106.217216,498.796862,33.148113,11.765603,61.109706,29.196072,45.175289,657.155514,4.015909,44.376194,58.137833,20.675288
LJP,NaN,NaN,85.010450,2.481377,NaN,21.613385,7.375946,11.382812,26.868529,1.712452,0.813171,NaN,1.927965,30.737989,0.478933,NaN,1.709409,NaN
Left Front,NaN,2.298223,0.209586,NaN,NaN,2.291368,NaN,NaN,NaN,44.280864,0.201455,8.309203,NaN,6.740281,NaN,0.877960,NaN,3.020887
NOTA,NaN,1.061204,12.685435,0.051485,NaN,3.844332,8.645440,12.132362,1.353138,2.863587,35.310377,13.594657,3.676105,20.552066,1.116006,4.502676,1.570309,NaN
Others,13.661335,21.212705,34.866218,0.684568,1.505864,1.389539,5.333891,5.101976,2.481377,4.017150,9.419087,8.236678,2.715087,38.194805,1.754671,3.800565,2.504778,NaN
RJD,5.515847,24.149369,32.285093,NaN,0.960400,67.072640,28.661774,55.385673,9.226178,35.399702,25.113668,14.999222,14.179660,1016.975742,0.085758,10.752145,21.523115,13.161145
RLSP,NaN,NaN,23.376575,NaN,NaN,NaN,3.269255,NaN,NaN,NaN,1.097574,NaN,0.499403,14.951502,1.955662,23.505807,3.524302,8.258391
VIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.372959

# Create a dataframe by performing a group by over age_group and calculate the count of total samples under each age_group.

In [568]:
data.head(2)

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,18-25,Male,191,Gen,0.673762
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505

In [570]:
df1=data.groupby('age_group').count()
df1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
age_group,,,,,,,,,,,,,,
18-25,2692,2692,2692,2692,2692,2692,2692,2692,2692,2692,2692,2692,2692,2692
25-40,4021,4021,4021,4021,4021,4021,4021,4021,4021,4021,4021,4021,4021,4021
40-55,821,821,821,821,821,821,821,821,821,821,821,821,821,821
55+,128,128,128,128,128,128,128,128,128,128,128,128,128,128

In [571]:
type(df1)

pandas.core.frame.DataFrame

# Create a dataframe by performing a group by over age_group and finding the count of total samples for each age_group that opted for the JD(U) party in Vote_Now.

In [572]:
data.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,18-25,Male,191,Gen,0.673762
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738

In [583]:
jdu=data[data['Vote_Now']=='JD(U)']
jdu

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505
67,68,5-24-2017,Urban,12th Pass,"₹ 5,000 - ₹ 10,000",JD(U),Did not vote,Somewhat Satisfied,Fully Dissatisfied,24,18-25,Male,184,SC,2.427588
75,76,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JD(U),VIP,Fully Satisfied,Fully Satisfied,18,18-25,Male,175,BC,0.333505
90,91,5-24-2017,Rural,Graduate,"₹ 80,000 - ₹ 1,50,000",JD(U),Did not vote,Fully Satisfied,Can’t say,22,18-25,Male,171,BC,0.333505
102,103,5-24-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",JD(U),JD(U),Fully Satisfied,Somewhat Dissatisfied,20,18-25,Male,173,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5248,5249,5-24-2017,Urban,Post - Graduation,"₹ 50,000 - ₹ 80,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,63,55+,Male,62,Gen,4.730010
5956,5957,6-1-2017,Urban,12th Pass,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Fully Dissatisfied,57,55+,Male,156,Gen,2.359308
6341,6342,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",JD(U),INC,Fully Satisfied,Somewhat Dissatisfied,70,55+,Male,142,BC,1.495606
6499,6500,5-28-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),JD(U),Fully Satisfied,Fully Dissatisfied,55,55+,Male,241,Gen,3.968010
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094

In [584]:
df2=jdu.groupby('age_group').count()
df2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
age_group,,,,,,,,,,,,,,
18-25,216,216,216,216,216,216,216,216,216,216,216,216,216,216
25-40,280,280,280,280,280,280,280,280,280,280,280,280,280,280
40-55,71,71,71,71,71,71,71,71,71,71,71,71,71,71
55+,13,13,13,13,13,13,13,13,13,13,13,13,13,13

# Join/Merge the two dataframes from questions 12 and 11 with the common column as age_group.

In [588]:
pd.merge(df1,df2,on='age_group')

,response_id_x,collection_date_x,urban_rural_x,education_x,income_x,Vote_Now_x,Past_Vote_x,CM_satisfaction_x,MLA_satisfaction_x,age_x,...,income_y,Vote_Now_y,Past_Vote_y,CM_satisfaction_y,MLA_satisfaction_y,age_y,gender_y,assembly_no_y,category_y,weight_y
age_group,,,,,,,,,,,,,,,,,,,,,
18-25,2692,2692,2692,2692,2692,2692,2692,2692,2692,2692,...,216,216,216,216,216,216,216,216,216,216
25-40,4021,4021,4021,4021,4021,4021,4021,4021,4021,4021,...,280,280,280,280,280,280,280,280,280,280
40-55,821,821,821,821,821,821,821,821,821,821,...,71,71,71,71,71,71,71,71,71,71
55+,128,128,128,128,128,128,128,128,128,128,...,13,13,13,13,13,13,13,13,13,13